@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.body {
  font-family: "Montserrat";
}

.name-of-artist-all-artists-page {
  text-align: center;
  color: #22223b;
  padding-top: 2rem;
}

.artists-images-all-artists-page {
  height: 17rem;
  width: 17rem;
  object-fit: cover;
  filter: drop-shadow(0px 0.5px 10px rgba(255, 255, 255, 0.15));
  margin: 2rem;
  filter: saturate(0);
}

.all-artists-page {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
