/*Scrollbar*/
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #edede9;
}

hr {
  border: 0.01rem solid #22223b;
  width: 40rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.creation-details-total-price-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-evenly;
}

.all-creation-order {
  max-height: 75vh;
  overflow-y: scroll;
}

.each-creation-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.info-creation-order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20rem;
  margin-right: 5rem;
}

.title-trashbin-order-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.quantity-creation-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.quantity-creation-order > p {
  font-weight: 600;
  margin-right: 1rem;
}

.creation-image-order {
  height: 13rem;
  width: 13rem;
  object-fit: cover;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.trash-bin-creation-cart {
  height: 1.5rem;
}

.trash-bin-creation-cart-button {
  height: 1.5rem;
  margin-left: 2rem;
}

.decrement-button,
.increment-button {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 1rem;
}

.order-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 14rem;
  width: 20rem;
  background-color: #22223b;
  color: white;
  padding: 2rem;
}

.order-summary h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

.link-to-buy {
  text-decoration: none;
  color: black;
  font-size: medium;
  font-weight: bold;
}

.total-price-order {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2rem;
}

.total-price-order h4 {
  margin-right: 2rem;
}

.button-to-buy {
  width: 15rem;
  height: 3rem;
  background: #ffffff;
  border-radius: 10px;
}

.delete-all-cart {
  width: 15rem;
  height: 3rem;
  background: #22223b;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.order-summary-and-delete {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
