body {
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

.logo-octopus-home-page {
  width: 70%;
}

.intro-home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
