@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.body {
  font-family: "Montserrat";
}

a:link {
  text-decoration: none;
  color: #d9d9d9;
}

/* visited link */
a:visited {
  color: #d9d9d9;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: #d9d9d9;
}

.middle-div-min {
  min-height: 75vh;
}

.welcome-profile {
  font-family: "Montserrat";
  padding: 2rem;
  margin-left: 10%;
}

.button-on-profile {
  background: #22223b;
  border: 2px solid #000000;
  width: 18vw;
  min-width: 8rem;
  height: 6vh;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  left: 44.79%;
  right: 44.8%;
  top: 68.16%;
  bottom: 29.86%;
  cursor: pointer;
  border-radius: 0.8rem;
  font-family: "Montserrat";
  margin-bottom: 2rem;
  margin-left: 3%;
  margin-right: 3%;
}

.buttons-on-profile {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}
