@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.body {
  font-family: "Montserrat";
}

.artists-images-all-artists {
  height: 17rem;
  width: 17rem;
  object-fit: cover;
  filter: drop-shadow(0px 0.5px 10px rgba(255, 255, 255, 0.15));
  filter: saturate(0);
  margin: 2rem;
}

.all-artists-home-page {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.artists-paragraph-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  /* or 128% */

  color: rgba(255, 255, 255, 0.6);
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
