@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

/* clears the ‘X’ from Internet Explorer  */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  margin: 0;
}
.search-navbar-entire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100vw;
  background-color: #22223b;
  font-family: "Montserrat";
  height: 5vh;
  flex-wrap: wrap;
  opacity: 85%;
}

.search-nav-bar {
  display: flex;
  flex-direction: row;
}

.search-navbar-input {
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.3rem;
}

.search-creation-categorie {
  background-color: #22223b;
  color: white;
  border: 0px solid;
}

/* input:focus {
  border: none;
  outline: none;
}

input[name="search-creation-categorie"] {
  width: 100%;
  font-size: 1rem;
  color: white;
} */

.search-logo-nav-bar {
  height: 1rem;
  padding-right: 1rem;
}
