@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.body {
  font-family: "Montserrat";
}

.update-all-object-details-page {
  display: flex;
  flex-direction: column;
}

.update-creation-presentation {
  display: flex;
  flex-direction: row;
}

.change-picture-creation-update {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin-left: 10%;
}

#update-creation-picture {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.update-creation-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #d9d9d9;
}

.update-creation-details {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
}

.update-creation-details-title {
  margin-bottom: 5%;
}

.update-creation-details-description {
  width: 50vw;
  height: 8rem;
}

.update-creation-price-and-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update-creation-price {
  margin: 1rem;
}

.update-add-to-profile-button-creation-page {
  background: #22223b;
  border: 2px solid #000000;
  width: 15vw;
  min-width: 9rem;
  height: 5vh;
  font-style: normal;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  left: 44.79%;
  right: 44.8%;
  top: 68.16%;
  bottom: 29.86%;
  cursor: pointer;
  border-radius: 0.8rem;
  font-family: "Montserrat";
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1250px) {
  .update-add-to-profile-button-creation-page {
    font-size: 0.5rem;
  }
}
